.header {
  background-color: #081c15;
  display: flex;
  justify-content: space-between;
}

.header-cash {
  display: flex;
}

.img {
  border-radius: 1%;
  margin: 0;
  width: 20%;
}

.first {
  color: white;
  width: 500px;
}

.second {
  color: white;
  width: 80px;
}

.third {
  color: white;
  width: 200px;
}
